In [2]:
import pandas as pd
import os
import json

import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import GoogleV3
import reverse_geocode

import dask.dataframe as dd
import dask.bag as db
import json
import dask.array as da
import pyspark as spark
import shutil  

import dask.dataframe as dd
import dask.bag as db
import numpy as np

In [4]:
#renaming file names for better looping

month_list = ['january','february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
dict_month = dict(zip(['january','february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'],['0'+str(i) if len(str(i)) == 1 else str(i) for i in list(range(1,13))]))

In [ ]:
for file in os.listdir('./Coronavirus (COVID-19) Geo-tagged Tweets Dataset/'):
    if file.startswith('orig'):
        for k,v in dict_month.items():
            if file.find(k) > 0:
                new_name = file
                new_name = new_name.replace(k, v+'_')
                os.rename('./Coronavirus (COVID-19) Geo-tagged Tweets Dataset/' + file, './Coronavirus (COVID-19) Geo-tagged Tweets Dataset/' + new_name)
                break

In [ ]:
#moving files to a separate folder

path = 'C:/Users/wedan/twitter germany/'
destination = 'C:/Users/wedan/twitter germany/Coronavirus (COVID-19) Geo-tagged Tweets Dataset/'

for f in os.listdir('./'):
    if any(x in f for x in month_list):
        try:
            dest = shutil.move(path + f.rstrip("\r\n"), destination + f.rstrip("\r\n"))
        except Exception as e:
            print(e, f)
            pass

In [42]:
def extract_ids(directory, f): 
    '''this function extracts tweet ids
    and sent scores from a csv file'''
    xtra = {}
    xtra1 = {}
    if f.endswith('csv'):
        data = pd.read_csv(directory + f, header=None)

        ids = data[0].tolist()
        sent = data.iloc[:,-1].tolist()
        ids = {'id': ids}
        sent = {'sent': sent}
    return ids, sent
    

df_ids = pd.DataFrame(columns = ['id'])
df_sents = pd.DataFrame(columns = ['sent'])

for f in os.listdir('./Coronavirus (COVID-19) Geo-tagged Tweets Dataset/'):
    df_ids = df_ids.append(pd.DataFrame(extract_ids('./Coronavirus (COVID-19) Geo-tagged Tweets Dataset/',f)[0]))
    df_sents = df_sents.append(pd.DataFrame(extract_ids('./Coronavirus (COVID-19) Geo-tagged Tweets Dataset/',f)[1]))

#df_ids.to_csv('ids_all_test.csv', header = False, index = False)
#df_sents.to_csv('sent_all_test.csv', header = False, index = False)

In [51]:
#splitting dataframe into multiple for better hydration

for idx,i in enumerate(np.array_split(df_ids, 5)):
    i.to_csv(str(idx), header = False, index = False)

In [50]:
def flatten(record):
    """this function chooses the necessary columns
    flattening the json file"""
    
    return {
        'created_at': record['created_at'],
        'full_text': record['full_text'],
        'location': record['user']['location'],
        'description': record['user']['description'],
        'geo': record['geo'],
        'coordinates': record['coordinates'],
        'full_name': record['place'],
        'lang': record['lang'],
    }

In [5]:
def flatten_dic(li, string):
    listi = []
    for x in li:
        try:
            listi.append(x[string])
        except TypeError:
            listi.append(None)
    return listi

In [6]:
big_df = []

for file in os.listdir('./'):
    if file.endswith('hydr'):
        print(file)
        df = pd.read_json(file, lines = True)
        df_filtered = df[['created_at', 'full_text', 'user', 'geo', 'place', 'lang']]
        place_list = df_filtered['place'].tolist()
        df_filtered = df_filtered.assign(place_type = flatten_dic(place_list, 'place_type'),full_name = flatten_dic(place_list, 'full_name'),country = flatten_dic(place_list, 'country'),loc_from_profile = flatten_dic(df_filtered['user'].tolist(), 'location'), coordinates = flatten_dic(df_filtered['geo'].tolist(), 'coordinates'))
        df_filtered.drop(['geo','place','user'], axis = 1, inplace = True)
        print(df_filtered)
        big_df.append(df_filtered)

0_hydr
                     created_at  \
0     2020-08-10 04:38:13+00:00
1     2020-08-10 06:06:50+00:00
2     2020-08-10 04:44:47+00:00
3     2020-08-10 06:18:56+00:00
4     2020-08-10 05:03:14+00:00
...                         ...
47744 2020-07-14 09:58:51+00:00
47745 2020-07-14 09:52:29+00:00
47746 2020-07-14 09:55:33+00:00
47747 2020-07-14 10:02:33+00:00
47748 2020-07-14 09:49:03+00:00

                                               full_text lang place_type  \
0      Awesome BRAVE SkillAthletic class with Joe at ...   en       city
1      So I love working from home, I don't need to w...   en       city
2      Matching our swimsuits may have been a step to...   en       city
3      1st staying overnight in a tent! Social distan...   en      admin
4      Failed #FieldWork. Resident did not let us in ...   en       city
...                                                  ...  ...        ...
47744  Thank God for another day!!!\nBLACK LIVES MATT...   en       city
47745  Not my first time posting this photo... but I ...   en      admin
47746  I’m happy to say I have rescheduled a new date...   en       city
47747  A ray of hope easing out of #lockdown a photog...   en       city
47748  Let's continue to play safe....#COVID19 #is  #...   en       city

                                            full_name                 country  \
0                          Newcastle, New South Wales               Australia
1                              City of London, London          United Kingdom
2                                          Dallas, TX           United States
3                                     California, USA           United States
4      Lungsod ng Caloocan, Pambansang Punong Rehiyon  Republika ng Pilipinas
...                                               ...                     ...
47744                                       Kemah, TX           United States
47745                                         中西區, 香港                      香港
47746                           Auckland, New Zealand          Новая Зеландия
47747                             Camden Town, London          United Kingdom
47748                                   Kano, Nigeria                 Nigeria

          loc_from_profile                      coordinates
0           Newcastle, NSW     [-32.88920957, 151.70629978]
1          London, England  [51.5141, -0.10940000000000001]
2               Dallas, TX              [32.7774, -96.7977]
3        San Francisco, CA      [37.41585485, -120.7100723]
4         Oas, Philippines       [14.7513113, 121.07890606]
...                    ...                              ...
47744             Katy, TX      [29.54714309, -95.02016187]
47745  Manchester, England               [22.2826, 114.158]
47746      London, England              [-36.6275, 174.731]
47747      London, England                 [51.527, -0.122]
47748      Kaduna, Nigeria        [12.00481305, 8.53307475]

[47749 rows x 8 columns]
1_hydr
                     created_at  \
0     2020-07-14 10:19:39+00:00
1     2020-07-14 11:03:24+00:00
2     2020-07-14 11:24:46+00:00
3     2020-07-14 11:39:55+00:00
4     2020-07-14 11:07:07+00:00
...                         ...
47853 2020-06-18 16:55:15+00:00
47854 2020-06-18 17:01:39+00:00
47855 2020-06-18 16:58:41+00:00
47856 2020-06-18 17:04:06+00:00
47857 2020-06-18 17:05:46+00:00

                                               full_text lang place_type  \
0      A global pandemic, collapse of the economy and...   en       city
1      A rainbow of hope in that difficult situation ...   en      admin
2      Enfys Tanner was an inspirational example duri...   en       city
3      With Serve the City~ Galway, collecting grocer...   en       city
4      ODISHA IS LISTENING, CM SHARES VIDEO WITH A ME...   en       city
...                                                  ...  ...        ...
47853  Catch me outside! ⁣\nHow about I froze my gym ...   en       city
47854  Good early evening. In the garden with the bea...   en       city
47855  Not something you see every day!! #redarrows #...   en       city
47856  Our managers at Lucio Marketing continue to wo...   en       city
47857  Mask up in style.\nMask up in comfort\n•Wear M...   en       city

                     full_name         country             loc_from_profile  \
0            अंबालापुलाई, भारत            भारत  Marari Beach, Kerala, India
1      อ.สันกำแพง, จ.เชียงใหม่       ประเทศไทย      San Kamphaeng, Thailand
2               Pembrey, Wales  United Kingdom                   Burry port
3              Galway, Ireland         Ireland                      Ireland
4              भुवनेश्वर, भारत            भारत           bhubaneswar,odisha
...                        ...             ...                          ...
47853          Little Rock, AR   United States             A R K A N S A S
47854  Cape Town, South Africa    South Africa        Muizenberg, Cape Town
47855   City of London, London  United Kingdom                   London, UK
47856              McAllen, TX   United States                  McAllen, TX
47857             सियोनी, भारत            भारत                 Seoni, India

                           coordinates
0            [9.56931833, 76.30351365]
1           [18.75376633, 99.15350067]
2                 [51.69084, -4.25169]
3                  [53.2719, -9.04889]
4                       [20.27, 85.84]
...                                ...
47853               [34.736, -92.3311]
47854      [-34.09778368, 18.48058343]
47855  [51.5141, -0.10940000000000001]
47856        [26.2669925, -98.2103726]
47857                 [22.0873, 79.55]

[47858 rows x 8 columns]
2_hydr
                     created_at  \
0     2020-06-18 17:44:18+00:00
1     2020-06-18 17:20:20+00:00
2     2020-06-18 17:28:54+00:00
3     2020-06-18 17:07:29+00:00
4     2020-06-18 17:44:10+00:00
...                         ...
47999 2020-03-19 22:16:03+00:00
48000 2020-03-19 22:08:52+00:00
48001 2020-03-19 22:09:37+00:00
48002 2020-03-19 22:11:03+00:00
48003 2020-03-19 22:09:46+00:00

                                               full_text lang place_type  \
0      I’m back. Kinda. Honestly I hadn’t really left...   en       city
1      6.6.20 Family Lockdown Walk, Photo 8 - Capitol...   en       city
2      Cache Cache is strictly following the code of ...   en       city
3      HEY CLASS OF 2021 DON LET COVID-19 steal your ...   en       city
4      Preview of  Acid Jazz Cocktail Hour (Ep 5)\nPa...   en       city
...                                                  ...  ...        ...
47999  Whew!!!  This corona shit has me working to ha...   en       city
48000  Great Corona Virus - Resident Evil - #MeMe :)\...   en       city
48001  Drove past #buckinghampalace this eve and it’s...   en       city
48002  Time for some quarantine cookies 😍😍 \n.\n.\n.\...   en       city
48003  While I am showing no signs of Corona Virus bu...   en       city

                  full_name         country            loc_from_profile  \
0               Olympia, WA   United States                         PNW
1        Aberdeen, Scotland  United Kingdom    Aberdeen & South Shields
2                 Aspen, CO   United States
3               Memphis, TN   United States
4      Rancho Cucamonga, CA   United States                  Venice, CA
...                     ...             ...                         ...
47999    Mount Pleasant, SC   United States          Mount Pleasant, SC
48000      Bedford, England  United Kingdom  Bedford, Bedfordshire, Uk,
48001       London, England  United Kingdom             London, England
48002       Minneapolis, MN   United States             Minneapolis, MN
48003            Duluth, GA   United States             Canton, Georgia

                               coordinates
0             [47.05039905, -122.90249974]
1                      [57.1431, -2.10969]
2             [39.18972886, -106.82016951]
3                      [35.1426, -90.0524]
4                     [34.0953, -117.5764]
...                                    ...
47999                  [32.8232, -79.8455]
48000     [52.13921, -0.46369000000000005]
48001  [51.50094238, -0.14309049000000001]
48002                [44.95089, -93.29014]
48003                  [34.0031, -84.1455]

[48004 rows x 8 columns]
3_hydr
                     created_at  \
0     2020-03-19 23:37:49+00:00
1     2020-03-20 01:00:28+00:00
2     2020-03-20 00:39:20+00:00
3     2020-03-19 23:17:13+00:00
4     2020-03-20 01:04:55+00:00
...                         ...
48118 2020-05-22 16:03:03+00:00
48119 2020-05-22 16:02:03+00:00
48120 2020-05-22 15:57:05+00:00
48121 2020-05-22 15:59:46+00:00
48122 2020-05-22 16:02:00+00:00

                                               full_text lang place_type  \
0      Mdudu Corona sasa aingia Lakers #Damn!\n\nRepo...   en      admin
1      Thursday night, corona time, isolated 18 floor...   en       city
2      My evening run. Feels a little more apocalypti...   en       city
3      Ja ne, These difficult times such as now with ...   en    country
4      With all of the gyms closing due to the #coron...   en      admin
...                                                  ...  ...        ...
48118  Return to work essentials.\nVisit our website ...   en       city
48119  Even though I am home 24/7, I still live for t...   en       city
48120  Wegmans shopping during Corona virus Pandemic,...   en       city
48121  This cat’s 🐈 expression captures exactly how I...   en       city
48122  The cure for COVID-19. #quarentinelife #eatfro...   en       city

                         full_name         country        loc_from_profile  \
0          Dar es Salaam, Tanzania        Tanzania  DAR ES SALAAM,TANZANIA
1                 Toronto, Ontario          Canada        Toronto, Ontario
2                    Manhattan, NY   United States      New York, New York
3                          Namibia         Namibia                 Namibia
4                    Arkansas, USA   United States           Arkansas, USA
...                            ...             ...                     ...
48118                 Harlow, East  United Kingdom     Epping Green, Essex
48119             Toronto, Ontario          Canada        Toronto, Ontario
48120                  Amherst, NY   United States             Buffalo, NY
48121  Vancouver, British Columbia          Canada          east vancouver
48122                  Syosset, NY   United States           New York City

                       coordinates
0               [-6.8223, 39.2763]
1               [43.648, -79.3872]
2              [40.7142, -74.0064]
3             [-22.6782, 14.52812]
4             [36.0632, -94.15791]
...                            ...
48118    [51.74226699, 0.07606908]
48119    [43.7649408, -79.4165248]
48120  [42.97645212, -78.73687258]
48121   [49.2466781, -123.0578331]
48122          [40.8127, -73.5009]

[48123 rows x 8 columns]
4_hydr
                     created_at  \
0     2020-05-22 16:29:27+00:00
1     2020-05-22 16:43:04+00:00
2     2020-05-22 16:46:34+00:00
3     2020-05-22 16:29:04+00:00
4     2020-05-22 16:46:35+00:00
...                         ...
47379 2020-09-10 04:19:19+00:00
47380 2020-09-10 04:00:04+00:00
47381 2020-09-10 04:12:32+00:00
47382 2020-09-10 04:18:10+00:00
47383 2020-09-10 04:00:29+00:00

                                               full_text lang place_type  \
0      Danica Kirka\n\nLONDON (AP) — Drug maker Astra...   en      admin
1      #solutions @burgerking   #covid_19 #coronaviru...   en       city
2      NEWS FLASH,\nWe have PROFESSOR PATRICK VALLANC...   en       city
3      Grand Turk 📍 Sadly this was my first and ONLY ...   en    country
4      Nice touch by @BrickendonGolf 🇬🇧👩🏼‍⚕️👨🏽‍⚕️\n•\...   en      admin
...                                                  ...  ...        ...
47379  Don’t judge me but during this #RonaDivide &am...   en       city
47380  #RT #Trump Claims He Downplayed COVID-19 To Av...   en       city
47381  Number of coronavirus cases in #Germany rises ...   en       city
47382  What lockdown? 🧔keep smiling guys, we can do t...   en       city
47383  What do you think guys?\n\n Before corona also...   en       city

                      full_name                   country  \
0                 Delaware, USA             United States
1                    Austin, TX             United States
2              Cholsey, England            United Kingdom
3      Turks and Caicos Islands  Turks and Caicos Islands
4                 East, England            United Kingdom
...                         ...                       ...
47379                 Bowie, MD             United States
47380          Warszawa, Polska                    Polska
47381           London, England            United Kingdom
47382       Melbourne, Victoria                 Australia
47383           नई दिल्ली, भारत                      भारत

             loc_from_profile                         coordinates
0               Delaware, USA          [39.7853554, -75.55031525]
1             Austin, TX, USA                 [30.2677, -97.7475]
2                 OXFORDSHIRE               [51.56987, -1.139476]
3                    Florida                  [21.4667, -71.1333]
4               Hertfordshire  [51.7524709, -0.09091234000000001]
...                       ...                                 ...
47379          Bowie Maryland                 [38.9606, -76.7416]
47380        Warszawa, Polska              [52.232222, 21.008333]
47381  London, United Kingdom          [51.50538967, -0.12485951]
47382          Melbourne, VIC                [-37.8156, 144.9661]
47383            Noida, India              [28.631747, 77.219672]

[47384 rows x 8 columns]

In [7]:
big_df = pd.concat(big_df)

In [8]:
big_df

,created_at,full_text,lang,place_type,full_name,country,loc_from_profile,coordinates
0,2020-08-10 04:38:13+00:00,Awesome BRAVE SkillAthletic class with Joe at ...,en,city,"Newcastle, New South Wales",Australia,"Newcastle, NSW","[-32.88920957, 151.70629978]"
1,2020-08-10 06:06:50+00:00,"So I love working from home, I don't need to w...",en,city,"City of London, London",United Kingdom,"London, England","[51.5141, -0.10940000000000001]"
2,2020-08-10 04:44:47+00:00,Matching our swimsuits may have been a step to...,en,city,"Dallas, TX",United States,"Dallas, TX","[32.7774, -96.7977]"
3,2020-08-10 06:18:56+00:00,1st staying overnight in a tent! Social distan...,en,admin,"California, USA",United States,"San Francisco, CA","[37.41585485, -120.7100723]"
4,2020-08-10 05:03:14+00:00,Failed #FieldWork. Resident did not let us in ...,en,city,"Lungsod ng Caloocan, Pambansang Punong Rehiyon",Republika ng Pilipinas,"Oas, Philippines","[14.7513113, 121.07890606]"
...,...,...,...,...,...,...,...,...
47379,2020-09-10 04:19:19+00:00,Don’t judge me but during this #RonaDivide &am...,en,city,"Bowie, MD",United States,Bowie Maryland,"[38.9606, -76.7416]"
47380,2020-09-10 04:00:04+00:00,#RT #Trump Claims He Downplayed COVID-19 To Av...,en,city,"Warszawa, Polska",Polska,"Warszawa, Polska","[52.232222, 21.008333]"
47381,2020-09-10 04:12:32+00:00,Number of coronavirus cases in #Germany rises ...,en,city,"London, England",United Kingdom,"London, United Kingdom","[51.50538967, -0.12485951]"
47382,2020-09-10 04:18:10+00:00,"What lockdown? 🧔keep smiling guys, we can do t...",en,city,"Melbourne, Victoria",Australia,"Melbourne, VIC","[-37.8156, 144.9661]"
47383,2020-09-10 04:00:29+00:00,What do you think guys?\n\n Before corona also...,en,city,"नई दिल्ली, भारत",भारत,"Noida, India","[28.631747, 77.219672]"

In [7]:
big_df.to_csv('filtered_data.csv')